* {
    padding: 0;
    margin: 0;
    background-color: rgb(253, 200, 151);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#logo {
    display: inline;
    float: left;
    margin-left: 5px;
}

#title {
    margin-bottom: 10px;
}

.menu {
    width: 111px;
    height: 40px;
    background-color: rgb(218, 91, 0);
    color: white;
    text-decoration: none;
}
.menu:hover {
    text-decoration: none;
    background-color: rgb(207, 131, 76);
    color: white;
    cursor: pointer;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

/*main {
    border: 1px solid black;
}*/

#etelek {
    border: 1px solid black;
    width: 60%;
    margin: auto;
}

#etelek div {
    border: 1px solid black;
    display: inline-block;
    width: 150px;
    height: 100px;
}

.kategoria {
    writing-mode:vertical-rl;
    text-orientation: mixed;
    width: 10%;
    padding-bottom: 40px;
    text-align: center;
}

#nyilatkozat {
    text-align: center;
    font-style: italic;
}

#kapcsolat {
    width: 50%;
    float: left;
    margin-left: 100px;
}