* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html {
    background: url("SOURCE/hatter.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
main {
    margin-top: 30px;
    background-color: rgba(245, 222, 178, 0.801);
}
header {
    background-color: rgb(253, 200, 151);
    text-align: center;
    padding-bottom: 10px;
}
footer {
    bottom: 0;
    width: 100%;
    height: 50px;
    margin-top: 30px;
    background-color: rgb(224, 146, 72);
}
#logo {
    width: 96px;
    height: 96px;
}

#title {
    margin-bottom: 10px;
}

.menu {
    width: 111px;
    height: 40px;
    font-size: 15px;
    background-color: rgb(218, 91, 0);
    color: white;
    text-decoration: none;
    margin: 0 15px;
    transition: 0.5s;
}
.menu:hover {
    text-decoration: none;
    background-color: rgb(245, 222, 178);
    color: black;
    cursor: pointer;
    transition: 0.5s;
}

/* index.html */
#foszoveg, #gondolat {
    text-align: center;
    font-style: italic;
}

/* etelek.html */
#eteltabla {
    margin: auto;
    width: 75%;
}
#eteltabla td {
    text-align: center;
    height: 50px;
    font-size: 22px;
}
#eteltabla th {
    font-size: 30px;
}
#nyilatkozat {
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

/* italok.html */
#italtabla {
    margin: auto;
    width: 75%;
}
#italtabla td {
    text-align: center;
    height: 50px;
    font-size: 22px;
}
#italtabla th {
    font-size: 30px;
}
.italkategoria {
    text-align: center;
    margin-bottom: 3000px;
}

/* napimenu.html */
.tarolo {
    text-align: center;
    width: 50%;
}
.sor {
    margin: 20px auto;
    text-align: center;
}
.masodik {
    overflow-x: scroll;
    white-space: nowrap;
    width: 50%;
}
.sor div {
    display: inline-block;
    border: 1px solid black;
}
.kategoria {
    padding-bottom: 10px;
    width: 50%;
    text-align: center;
    margin: auto;
}
.menukaja {
    width: 200px;
    height: 150px;
    margin-top: -10px;
    text-align: center;
    background-color: white;
    cursor: pointer;
}
.menukaja:hover {
    background-color: rgb(185, 185, 185);
}
#rendeles {
    width: 160px;
    height: 45px;
    background-color: rgb(247, 230, 199);
    display: block;
    margin: auto;
    font-size: 25px;
    cursor: pointer;
}
#rendeles:hover {
    background-color: rgb(253, 203, 109);
}
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
  
::-webkit-scrollbar-thumb {
    background: rgb(252, 141, 38);
    border-radius: 10px;
    border: 1px solid black;
}

/* elerhetoseg.html */
#kapcsolat {
    width: 50%;
    padding: 0 100px;
    text-align: center;
}
#info {
    width: 100%;
    height: 500px;
    margin: auto;
}
@media screen and (max-width:705px)  {
    .mapouter {
        width: 300px;
        height: 250px;
        margin: auto;
        border: 1px solid black;
    }
    iframe {
        width: 300px;
        height: 250px;
        margin: auto;
    }
    .gmap_canvas {
        width: 300px;
        height: 250px;
        margin: auto;
    }
}
@media screen and (min-width:706px)  {
    .mapouter {
        text-align: center;
        height: 300px;
        width: 700px;
        margin: 20px auto;
    }
    .gmap_canvas {
        overflow: hidden;
        background: none !important;
        height: 300px;
        width: 700px;
    }
}
.index button{
    width: 50%;
    height: 40px;
    padding: 10px;
    margin: auto;
}
.index{
    text-align: center;
    padding: 10px;
}